footer {
  background-color: #387423;
  color: white;
  padding: 20px 50px;
  font-size: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section img {
  max-width: 250px;
  margin-left: -3%;
}

.footer-section h4 {
  margin: 0 0 10px 0;
  font-size: 22px;
  letter-spacing: 2px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: white;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.social-media-links a {
  margin-right: 10px;
}

.social-media-links a img {
  width: 24px;
  height: auto;
  transition: opacity 0.3s;
}

.social-media-links a:hover img {
  opacity: 0.7;
}

.close {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#titulo-modal {
  color: black;
  font-size: 40px;
  text-align: center;
}

.modal-content {
  overflow: auto;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 800px;
  position: relative;
  font-size: 10px;
  border-radius: 18px;
  letter-spacing: 1px;
}

.modal-content p {
  color: #504e4e;
  margin-top: 2%;
  margin-bottom: 5%;
}

.modal-content h3 {
  color: black;
  font-size: 40px;
  letter-spacing: 2px;
}

.modal-content h4 {
  color: black;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;

}

.Btn-cerrar {
  transform: scale(1.5) !important;
  font-size: 20px;
  margin: 5% auto;
  /* Margen superior e inferior del 2% y centrado horizontal */
  display: block;
  /* Convertir el botón en un bloque para ocupar todo el ancho disponible */
}

@media (max-width: 768px) {

  .modal{
    overflow: auto;
  }

  .modal-content{
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .footer-section {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid white;
    /* Añade una línea divisoria blanca en la parte inferior de cada sección */
    padding-bottom: 20px;
    /* Ajusta el padding para espaciar el contenido de la línea divisoria */
  }

  .footer-section:last-child {
    border-bottom: none;
    /* Elimina la línea divisoria de la última sección para evitar una línea extra en el fondo */
  }

  .social-media-links a img {
    width: 40px;
  }
}

@media (max-width: 1024px) {

  .modal-content{
    top: 20% !important;
  }

  .footer-section{
    transform: scale(0.85);
    padding: 0 10px;
  }
}