/* Estilos para la barra de navegación (navbar) */
@font-face {
  font-family: 'RanchoFuente';
  /* Nombre de la fuente */
  src: url('../Fonts/Rancho-Regular.ttf') format('truetype');
  /* Ruta relativa al archivo TTF */
  /* Otros formatos de archivo si los tienes */
  font-weight: normal;
  /* Puedes ajustar esto según la fuente */
  font-style: normal;
  /* Puedes ajustar esto según la fuente */
}

footer {
    background-color: #387423;
    color: white;
    padding: 20px 50px;
    font-family: 'RanchoFuente', cursive;
    font-size: 20px;
    margin-top: 200px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
  }
  
  .footer-section h4 {
    margin: 0 0 10px 0;
    font-size: 22px;
    letter-spacing: 2px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .social-media-links a {
    margin-right: 10px;
  }
  
  .social-media-links a img {
    width: 24px;
    height: auto;
    transition: opacity 0.3s;
  }
  
  .social-media-links a:hover img {
    opacity: 0.7;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  }
  