.bloque {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    justify-content: center;
  }
  
  .slide {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    transition: transform 0.5s ease, filter 0.5s ease; /* Transiciones suaves */
    filter: blur(2px); /* Aplicamos un filtro de desenfoque a todas las imágenes */
  }
  
  .slide.active {
    transform: scale(1.5); /* Agrandamos la imagen activa */
    filter: blur(0); /* Quitamos el filtro de desenfoque a la imagen activa */
  }
  
  .slide:nth-child(2) {
    transform: translateX(-25%); /* Desplazamos la segunda imagen */
  }
  
  .slide:nth-child(3) {
    transform: translateX(25%); /* Desplazamos la tercera imagen */
  }

  .prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}