.navbar {
  background-color: #387423;
  padding: 35px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  transition: top 0.5s;
}

.navbar.hide {
  top: -160px;
}

.nav-logo{
  height: auto;
  width: 30%;

}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  display: inline-flex;
  margin-right: 50px;
}


/* Estilos para los enlaces en la barra de navegación */
.navbar ul li a {
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  font-family: 'RanchoFuente', cursive;
  position: relative;
  color: rgb(255, 255, 255);
}

/* Aplica el gradiente solo al borde inferior del navbar */
.navbar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

}

.navbar ul li a::after {
  content: '';
  /* Crea un elemento pseudo ::after para el efecto de subrayado */
  display: block;
  position: absolute;
  bottom: -3px;
  /* Ajusta la posición del subrayado según tus necesidades */
  left: 0;
  width: 0;
  /* Ancho inicial del subrayado */
  height: 2px;
  /* Grosor del subrayado */
  background-color: transparent;
  /* Color inicial del subrayado */
  transition: width 0.3s, background-color 0.3s;
  /* Transición de ancho y color al pasar el mouse */
}

.navbar ul li a:hover::after {
  width: 100%;
  /* Ancho completo al pasar el mouse */
  background-color: #ffffff;
  /* Cambia el color del subrayado al pasar el mouse */
}

.menu-icon {
  display: none;
  /* Ocultar por defecto */
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  /* Altura del icono de hamburguesa */
  width: 30px;
  /* Ancho del icono de hamburguesa */
}

.menu-icon .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.menu-icon.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

.menu-icon .bar {
  transition: all 0.3s ease;
  /* Añade suavidad a la transición */
}


/* Media query para dispositivos con ancho de hasta 768px */
@media (max-width: 430px) {
  .navbar ul {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    left: 70%;
    top: 29%;
    height: 40px;
    width: 40px;
    transform: scale(0.8);
  }

  .nav-logo{
    margin-left: -50% !important;
    height: auto;
    width: 25%;
  }

  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    /* Ajustar según la altura de tu navbar */
    left: 0;
    right: 0;
    background-color: #387423;
    /* Color de fondo del menú */
    display: none;
    /* Inicialmente oculto */
    margin: 0;
    padding: 0;
    z-index: 1000;
    /* Asegurar que el menú se muestre por encima de otros contenidos */
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .navbar ul.open {
    display: flex;
    /* Mostrar el menú cuando menuVisible es true */
    transform: translateY(0);
  }

  .navbar ul li {
    margin: 10px 0;
    /* Espaciado entre elementos del menú */
  }

  .navbar ul li a {
    font-size: 28px;
    /* Ajustar el tamaño del texto para dispositivos móviles */
  }

}

@media (max-width: 1024px) {
  .menu-icon {
    display: flex;
    height: 50px;
    width: 70px;
    margin-top: 10px;
    margin-right: 10%;
  }

  .nav-logo{
    margin-left: -40%;
  }

  .nav-item{
    letter-spacing: 2px;
    align-self: center;
  }

  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    /* Ajustar según la altura de tu navbar */
    left: 0;
    right: 0;
    background-color: #387423;
    /* Color de fondo del menú */
    display: none;
    /* Inicialmente oculto */
    margin: 0;
    padding: 0;
    z-index: 1000;
    /* Asegurar que el menú se muestre por encima de otros contenidos */
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .navbar ul.open {
    display: flex;
    /* Mostrar el menú cuando menuVisible es true */
    transform: translateY(0);
  }

  .navbar ul li {
    margin: 10px 0;
    /* Espaciado entre elementos del menú */
  }

  .navbar ul li a {
    font-size: 28px;
    /* Ajustar el tamaño del texto para dispositivos móviles */
  }

}