
.navbar {
  background-color: #387423;
  padding: 35px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin-top: -25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;


}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 50px;
  margin-top: 10px;
}

.navbar li {
  margin: 0 5px;
  display: inline;
  margin-right: 25px;
}




/* Estilos para los enlaces en la barra de navegación */
.navbar ul li a {
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;
  margin: 0 10px;
  font-family: 'RanchoFuente', cursive;
  position: relative;
  color: rgb(255, 255, 255);
}

/* Aplica el gradiente solo al borde inferior del navbar */
.navbar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Altura del gradiente */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f0f0f0); /* Define el gradiente */
  pointer-events: none; /* Evita que el gradiente sea interactivo */
}

.navbar ul li a::after {
  content: '';
  /* Crea un elemento pseudo ::after para el efecto de subrayado */
  display: block;
  position: absolute;
  bottom: -3px;
  /* Ajusta la posición del subrayado según tus necesidades */
  left: 0;
  width: 0;
  /* Ancho inicial del subrayado */
  height: 2px;
  /* Grosor del subrayado */
  background-color: transparent;
  /* Color inicial del subrayado */
  transition: width 0.3s, background-color 0.3s;
  /* Transición de ancho y color al pasar el mouse */
}

.navbar ul li a:hover::after {
  width: 100%;
  /* Ancho completo al pasar el mouse */
  background-color: #ffffff;
  /* Cambia el color del subrayado al pasar el mouse */
}

  .footer-logo {
    width: 150px;
    margin-top: 30px;
    margin-left: 100px;
  }

  .carrito-imagen {
    width: 70px;  /* Ajusta el tamaño según tus necesidades */
    height: 50px;
    margin-left: 10px; /* Ajusta el margen según tus necesidades */
    cursor: pointer;  /* Cambia el cursor al pasar el ratón para indicar que es interactivo */
    margin-top: 10px;
  }
.carrito-imagen {
  width: 70px;
  height: 55px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 10px;
}

  

