.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.centered-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instalacionesTit, .ProductosTit, .ServiciosTit, .contactTit {
  border-bottom: 2px solid #387423;
  width: 70%;
  color: #387423;
  font-size: 68px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 430px) {

  .instalacionesTit, .ProductosTit, .ServiciosTit, .contactTit {
    font-size: 40px;
  }

  .ServiciosTit{
    margin-bottom: -60%;
  }

  .ProductosTit{
    margin-bottom: -60%;
    
  }

  .centered-container {
    margin-top: 0%;
  }
}

@media (max-width: 1024px) {
  .instalacionesTit{
    margin-top: -25%;
  }

}