@font-face {
  font-family: 'RanchoFuente';
  /* Nombre de la fuente */
  
  /* Ruta relativa al archivo TTF */
  /* Otros formatos de archivo si los tienes */
  font-weight: normal;
  /* Puedes ajustar esto según la fuente */
  font-style: normal;
  /* Puedes ajustar esto según la fuente */
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
